$primary-h: 0;
$primary-s: 102;
$primary-b: 204;
$primary: #06c;

$secondary: #2d2d2d;
$color-text-accent: #2d2d2d;
$color-text-secondary: #050c6b;
$header-slim-bg-color: #101010;

$tag-bg-color: #eee;
$hero-bg-color: #FBF9FB;
$overlay-bg-color: rgba(0, 0, 0, 0.55);

@mixin multiline-ellipsis($lines: 3) {
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

@for $i from 1 through 10 {
  .multiline-ellipsis-#{$i} {
    @include multiline-ellipsis($i);
  }
}
